.blockWrapper {
  display: flex;
  align-items: center;
}

.block {
  display: grid;
  gap: 3px;
  background: #222;
  border: 2px solid #555;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  grid-template-columns: repeat(16, 24px);
  grid-auto-rows: 24px;
}

.blockContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockLink {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

.connector {
  width: 70px;
  height: 4px;
  background-color: #ccc;
  transform: translateY(10px); /* shift line down to match block grid */
}

.newBlock,
.newBlockLink,
.newConnector {
  /* animation: fadeIn 1s ease-out; */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 768px) {
  /* Use fewer columns on mobile */
  .block {
    grid-template-columns: repeat(6, 24px);
  }

  .connector {
    width: 50px;
  }
}
