.connectionIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.connected {
  background-color: lime;
  animation: pulse 1s infinite;
}

.disconnected {
  background-color: red;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}