.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #222;
  border: 2px solid #555;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
}

.modalTitle {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  line-height: 1;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #555;
}

.legendList {
  text-align: left;
  max-height: 60vh;
  overflow-y: auto;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.legendIcon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.legendIcon > img {
  max-width: 18px;
  max-height: 18px;
  object-fit: contain;
}

.legendDescription {
  flex: 1;
  font-size: 16px;
}

.modalClose {
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
}
